<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find wpr_simulation)/worlds/simple.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="table" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find wpr_simulation)/models/table.model -x 1.2 -y 0.0 -z 0 -Y 0 -urdf -model table"/>

  <node name="red_bottle" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find wpr_simulation)/models/bottles/red_bottle.model -x 1.15 -y 0.3 -z 0.75 -Y 0 -urdf -model red_bottle"/>

  <node name="green_bottle" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find wpr_simulation)/models/bottles/green_bottle.model -x 1.15 -y -0.2 -z 0.75 -Y 0 -urdf -model green_bottle"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find wpr_simulation)/models/wpb_home_mani.model -urdf -model wpb_home_mani"/>

  <include file="$(find wpr_simulation)/launch/wpb_home_controllers.launch"/>
</launch>
