<launch>
  <arg name="use_ball_control" default="true" doc="Enable OpenCV ball control nodes"/>
  <arg name="input_mode" default="video" doc="Input source: video or mouse"/>
  <arg name="video_file" default="$(find work3)/test_video.mp4" doc="Video file for red ball detection"/>
  <arg name="camera_id" default="0" doc="Camera index when video_file is empty"/>
  <arg name="show_monitor_window" default="true" doc="Show the OpenCV monitor window"/>
  <arg name="use_rviz" default="false" doc="Start RViz in addition to Gazebo"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="worlds/empty.world"/>

  <param name="robot_description" textfile="$(find work3)/urdf/mecanum_robot_ridgeback.urdf"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <node
    name="spawn_robot"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model mecanum_robot -x 0 -y 0 -z 0.1"/>

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find work3)/rviz/mecanum_robot.rviz"
    if="$(arg use_rviz)"/>

  <group if="$(arg use_ball_control)">
    <node name="ball_detector" pkg="work3" type="ball_detector.py" output="screen">
      <rosparam command="load" file="$(find work3)/config/hsv_red_range.yaml"/>
      <rosparam command="load" file="$(find work3)/config/control_params.yaml"/>
      <param name="input_mode" value="$(arg input_mode)"/>
      <param name="camera_id" value="$(arg camera_id)"/>
      <param name="video_path" value="$(arg video_file)"/>
    </node>

    <node name="mecanum_controller" pkg="work3" type="mecanum_controller.py" output="screen">
      <rosparam command="load" file="$(find work3)/config/control_params.yaml"/>
    </node>

    <node
      name="mecanum_visualizer"
      pkg="work3"
      type="mecanum_visualizer.py"
      output="screen"
      required="true"
      if="$(arg show_monitor_window)">
      <rosparam command="load" file="$(find work3)/config/control_params.yaml"/>
      <param name="input_mode" value="$(arg input_mode)"/>
      <param name="wheel_radius" value="0.08"/>
      <param name="wheel_base_length" value="0.5"/>
      <param name="wheel_base_width" value="0.4"/>
      <param name="max_wheel_speed" value="15.0"/>
    </node>
  </group>
</launch>
